<!-- dashboard.html -->

{% extends 'base.html' %}

{% block page_title %} Dashboard {% endblock page_title %}

{% block page_content %}
    <h1>Mission Dashboard</h1>
    <p>Welcome, Commander {{ current_user.email }}!</p>
    
    {% if tasks %}
    <h2>Your Active Objectives:</h2> <!-- If there are tasks show this section -->
    <table>
            <thead>
                <tr>
                    <th scope="col">Objective / Task</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Status</th>
                    <th scope="col" colspan="2">Operations</th> </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.due_date.strftime('%d.%m.%Y') }}</td>
                    <td>
                        {% if task.finished %}
                            Complete
                        {% else %}
                            Active
                        {% endif %}
                    </td>
                    <td>  <!-- Update button -->
                        <a href="{{ url_for('main.update_task', task_id=task.id) }}" role="button" class="secondary">Update</a>
                    </td>
                    <td> <!-- Delete button -->
                        <form method="POST" action="{{ url_for('main.delete_task', task_id=task.id) }}">
                            {{ form.hidden_tag() }} 
                            <button type="submit" class="secondary outline" onclick="return confirm('Confirm deletion of this objective?');">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

      <!-- Add button -->
      <a role="button" class="add_button" href="{{ url_for('main.add_task') }}" >Log a New Objective</a>

      <!-- If no tasks show this section -->
      {% else %}
        <p>Mission Log is Clear</p>
        <p>No active objectives found. Ready for new commands.</p>
        <a role="button" href="{{ url_for('main.add_task') }}" >Log Your First Objective</a>
    {% endif %}
{% endblock page_content %}