<!-- header.html -->

<nav>
  <ul>
    <li><strong>Flask Mission Control</strong></li>
  </ul>
  <ul><!-- main navigation links -->
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li><a href="{{ url_for('main.about') }}">About</a></li>
  
      <!-- user is logged in links -->
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('main.dashboard') }}">My Dashboard</a></li>
    <details class="dropdown">
        <summary>
          Account
        </summary>
        <ul dir="rtl">
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        </ul>
    </details>
    
      <!-- User is not logged in links -->
      {% else %}
      <details class="dropdown">
        <summary>
          Account
        </summary>
        <ul dir="rtl">
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        </ul>
      </details>
    {% endif %}
  </ul>
</nav>